﻿@model Banco.ViewModels.PersonaIndexData

@{
    ViewBag.Title = "Personas";
}

<h2>Personas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dpi</th>
        <th>Direccion</th   >
        <th>Telefono</th>
        <th>Correo</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Personas)
    {
        string selectedRow = "";
        if (item.Id == ViewBag.PersonaId)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @if (item.Nombre != null)
                {
                    @item.Nombre
                }
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
    
    @if (Model.Cuentas != null)
{
        <h3>Cuentas mostradas para esta persona</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Saldo</th>
                <th>NumeroCuenta</th>

            </tr>

            @foreach (var item in Model.Cuentas)
        {
            string selectedRow = "";
            if (item.Persona == ViewBag.CuentaId)
            {
                selectedRow = "success";
            }
                <tr class="@selectedRow">
                    <td>
                        
                    </td>
                    <td>
                        @item.Saldo
                    </td>
                    <td>
                        @item.NumeroCuenta
                    </td>
                </tr>
        }

        </table>
}
    @if (Model.Creditos != null)
{
        <h3>
            Tarjetas de Credito por Persona
        </h3>
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Cuenta</th>
            </tr>
            @foreach (var item in Model.Creditos)
        {
                <tr>
                    <td>
                        @item.Persona.Nombre
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuenta)
                    </td>
                </tr>
        }
        </table>
}

