﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="background-color: skyblue">Bienvenidos:</h1>
    <h1>SISTEMA DE BANCOS LUIS</h1>
    <p class="lead" style="background-color: skyblue">Este sistema de bancos permite que las personas se registren y puedan tener un usuario el cual les servira para poder abrir cuentas bancarias, solicitar prestamos, sacar tarjetas de credito o debito, realizar transaccions y ver todos los movimientos que ha realizado.</p>
    <p><a href="http://localhost:54222/Personas" class="btn btn-primary btn-lg">Personas &raquo;</a></p>
    <p><a href="http://localhost:54222/Prestamoes" class="btn btn-primary btn-lg">Prestamos &raquo;</a></p>
    <p><a href="http://localhost:54222/Cuentas" class="btn btn-primary btn-lg">Cuentas &raquo;</a></p>
    <p><a href="http://localhost:54222/Debitoes" class="btn btn-primary btn-lg">Tarjetas Debito &raquo;</a></p>
    <p><a href="http://localhost:54222/Creditoes" class="btn btn-primary btn-lg">Tarjetas Credito &raquo;</a></p>
    <p><a href="http://localhost:54222/Transferencias" class="btn btn-primary btn-lg">Transferencias &raquo;</a></p>
    <p><a href="http://localhost:54222/Movimientoes" class="btn btn-primary btn-lg">Movimientos &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>